<img src= "https://cdn.bulbagarden.net/upload/8/88/Mission_Guides.png"/>

# Probemos los modelos...

![img](https://img.pokemondb.net/artwork/melmetal.jpg)

In [ ]:
test = np.array([[580.0,90.0,85.0,100.0,95.0,125.0,85.0]])

<img src="https://images.gameinfo.io/pokemon/256/493-11.png" weidth="400"/>

In [ ]:
test2 = np.array([[720.0,120.0,120.0,120.0,120.0,120.0,120.0]])

## ¿Será legendario Melmetal.... y qué tal Arceus?

## ¿Será?

# Ejercicio

En esta sección deberán realizar un nuevo dataframe, pero considerando las siguientes características (ojo!, ya no son sólo de tipo normal y legendario...)

In [ ]:
# Data analysis and wrangling
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')
%matplotlib inline

In [ ]:
pokedex = pd.read_csv("https://raw.githubusercontent.com/ivansmorales/Machine-Learning-Class/master/sample_data/pokedex.csv")
pokedex = pokedex.drop(['Unnamed: 0'], axis=1)

In [ ]:
list = ['german_name', 'japanese_name', 'type_number', 'species', 'type_number', 'height_m',
       'weight_kg', 'abilities_number', 'ability_1', 'ability_2',
       'ability_hidden','catch_rate', 'base_friendship',
       'base_experience', 'growth_rate', 'egg_type_number', 'egg_type_1',
       'egg_type_2', 'percentage_male', 'egg_cycles', 'against_normal',
       'against_fire', 'against_water', 'against_electric', 'against_grass',
       'against_ice', 'against_fight', 'against_poison', 'against_ground',
       'against_flying', 'against_psychic', 'against_bug', 'against_rock',
       'against_ghost', 'against_dragon', 'against_dark', 'against_steel',
       'against_fairy']
newpkdx = pokedex.drop(list, axis=1)
newpkdx

      pokedex_number                            name  ...  sp_defense  speed
0                  1                       Bulbasaur  ...        65.0   45.0
1                  2                         Ivysaur  ...        80.0   60.0
2                  3                        Venusaur  ...       100.0   80.0
3                  3                   Mega Venusaur  ...       120.0   80.0
4                  4                      Charmander  ...        50.0   65.0
...              ...                             ...  ...         ...    ...
1023             888     Zacian Hero of Many Battles  ...       115.0  138.0
1024             889        Zamazenta Crowned Shield  ...       145.0  128.0
1025             889  Zamazenta Hero of Many Battles  ...       115.0  138.0
1026             890                       Eternatus  ...        95.0  130.0
1027             890             Eternatus Eternamax  ...       250.0  130.0

[1028 rows x 13 columns]

In [ ]:
newpkdx.status.unique()

array(['Normal', 'Sub Legendary', 'Legendary', 'Mythical'], dtype=object)

El objetivo ahora será realizar intercambio de la variable categórica "Status" por una nueva que le asigne un número en lugar de texto

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()

In [ ]:
newpkdx['status'] = lb_make.fit_transform(newpkdx['status'])
print(newpkdx['status'].unique())

[2 3 0 1]

In [ ]:
newpkdx.head(3)

   pokedex_number       name  generation  ...  sp_attack sp_defense speed
0               1  Bulbasaur           1  ...       65.0       65.0  45.0
1               2    Ivysaur           1  ...       80.0       80.0  60.0
2               3   Venusaur           1  ...      100.0      100.0  80.0

[3 rows x 13 columns]

In [ ]:
raw = newpkdx.copy()
raw.dropna(axis=0, subset=['total_points'], inplace=True)
raw.dropna(axis=0, subset=['hp'], inplace=True)
raw.dropna(axis=0, subset=['attack'], inplace=True)
raw.dropna(axis=0, subset=['defense'], inplace=True)
raw.dropna(axis=0, subset=['sp_attack'], inplace=True)
raw.dropna(axis=0, subset=['sp_defense'], inplace=True)
raw.dropna(axis=0, subset=['speed'], inplace=True)
raw.reset_index()
data=raw[['total_points', 'hp','attack','defense' ,'sp_attack' ,'sp_defense', 'speed']]
data.head(10)

   total_points    hp  attack  defense  sp_attack  sp_defense  speed
0         318.0  45.0    49.0     49.0       65.0        65.0   45.0
1         405.0  60.0    62.0     63.0       80.0        80.0   60.0
2         525.0  80.0    82.0     83.0      100.0       100.0   80.0
3         625.0  80.0   100.0    123.0      122.0       120.0   80.0
4         309.0  39.0    52.0     43.0       60.0        50.0   65.0
5         405.0  58.0    64.0     58.0       80.0        65.0   80.0
6         534.0  78.0    84.0     78.0      109.0        85.0  100.0
7         634.0  78.0   130.0    111.0      130.0        85.0  100.0
8         634.0  78.0   104.0     78.0      159.0       115.0  100.0
9         314.0  44.0    48.0     65.0       50.0        64.0   43.0

Posteriormente, deberán hacer el procedimiento "normal" para los siguientes algoritmos
* Regresion Logística
* SVM (con kernel rbf - Gaussiano o radial)
* Decision Tree
* Random Forest

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

X=data
y=raw["status"]

#scaler=StandardScaler().fit(X)   # Z-scaling the data
#X=scaler.transform(X)
y=y.astype(int)

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=69,test_size=0.33)
pd.DataFrame(X_train).head()

      total_points    hp  attack  defense  sp_attack  sp_defense  speed
357          380.0  50.0    85.0     85.0       55.0        55.0   50.0
438          300.0  45.0    75.0     60.0       40.0        30.0   50.0
1024         720.0  92.0   130.0    145.0       80.0       145.0  128.0
68           290.0  40.0    35.0     35.0       50.0        40.0   90.0
406          355.0  66.0    41.0     77.0       61.0        87.0   23.0

In [ ]:
newpkdx2 = data
newpkdx2

      total_points     hp  attack  defense  sp_attack  sp_defense  speed
0            318.0   45.0    49.0     49.0       65.0        65.0   45.0
1            405.0   60.0    62.0     63.0       80.0        80.0   60.0
2            525.0   80.0    82.0     83.0      100.0       100.0   80.0
3            625.0   80.0   100.0    123.0      122.0       120.0   80.0
4            309.0   39.0    52.0     43.0       60.0        50.0   65.0
...            ...    ...     ...      ...        ...         ...    ...
1023         670.0   92.0   130.0    115.0       80.0       115.0  138.0
1024         720.0   92.0   130.0    145.0       80.0       145.0  128.0
1025         670.0   92.0   130.0    115.0       80.0       115.0  138.0
1026         690.0  140.0    85.0     95.0      145.0        95.0  130.0
1027        1125.0  255.0   115.0    250.0      125.0       250.0  130.0

[1028 rows x 7 columns]

In [ ]:
test = np.array([[580.0,90.0,85.0,100.0,95.0,125.0,85.0]])                  # Semi-Legendary
test2 = np.array([[720.0,120.0,120.0,120.0,120.0,120.0,120.0]])             # Legendary
magi = np.array([[200.0, 	20.0, 	10.0, 	55.0, 	15.0, 	20.0, 	80.0]])   # Normal

## Regresión

In [ ]:
from sklearn.linear_model import LogisticRegression
clf_lr = LogisticRegression()
clf_lr = clf_rf.fit(X_train, y_train)
prev_lr = clf_rf.predict(X_test)
print("Accuracy ", sum(pred_svm==y_test)/y_test.shape[0]*100)
#Linear Regression Prediction
print(clf_lr.predict(test)[0])
print(clf_lr.predict(test2)[0])
print(clf_lr.predict(magi)[0])

Accuracy  92.05882352941175
3
0
2

## SVM

In [ ]:
from sklearn import svm
clf_svm = svm.SVC()
clf_svm = clf_svm.fit(X_train,y_train)
pred_svm = clf_svm.predict(X_test)
print("Accuracy ", sum(pred_svm==y_test)/y_test.shape[0]*100)
# SVM Prediction
print("SVM")
print(clf_svm.predict(test)[0])
print(clf_svm.predict(test2)[0])
print(clf_svm.predict(magi)[0])

Accuracy  92.05882352941175
SVM
2
0
2

## Decision Tree

In [ ]:
from sklearn import tree
clf_dt = tree.DecisionTreeClassifier()
clf_dt = clf_dt.fit(X_train, y_train)
pred_dt = clf_dt.predict(X_test)
print("Accuracy ", sum(pred_dt==y_test)/y_test.shape[0]*100)
# Decision Tree Prediction
print("Decision Tree")
print(clf_dt.predict(test)[0])
print(clf_dt.predict(test2)[0])
print(clf_dt.predict(magi)[0])

Accuracy  94.70588235294117
Decision Tree
3
0
2

## Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf_rf = RandomForestClassifier(n_estimators = 100, max_depth = 5)
clf_rf = clf_rf.fit(X_train, y_train)
pred_rf = clf_rf.predict(X_test)
print("Accuracy = ", sum(pred_rf==y_test)/y_test.shape[0]*100)

# Random Forest Prediction
print("Random Forest")
print(clf_rf.predict(test)[0])
print(clf_rf.predict(test2)[0])
print(clf_rf.predict(magi)[0])

Accuracy =  93.23529411764706
Random Forest
3
0
2

## ¿Cuál de los algoritmos podrá decir cual es el tipo correcto de los dos pokemon?

### Impriman los Accuracy de la siguiente manera para cada modelo

In [ ]:
pd.DataFrame({"Accurancy on Train":[accuracy_score()],
    "Accurancy on Test":[accuracy_score()]})

NameError: ignored

### Probemos ahora los modelos!

### ¿Alguno mejora si aplicamos CV?

In [ ]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=5, shuffle=True, random_state=123)
i = 1

# Recordemos que estamos ante un problema de desbalance de clases muy intenso!